---
import Layout from '../layouts/Layout.astro';
import TaskManager from '../components/TaskManager.tsx';
---

<Layout title="Gestor de Tareas">
	<main>
		<TaskManager client:load />
	</main>
</Layout>
